
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> app1 </title>
  </head>
  <body>
    <h1 id ="title">Plant disease detacton using image processing <h1>
                      <h1 id = "title" >&</h1>
             <h1=id ="title "> Machine learning</h1>

           <span id ="urls">
             <ul>
               <li><a href="{{url_for('motivation')}}">motivation</a></li>
               <li><a href="{{url_for('algorithm')}}">algorithum used</a></li>
               <li><a href="{{url_for('home')}}" method="get">Application</a></li>
               <li> <a herf="{{url_for('ourcontribution')}}">our contribution</a></li>
             </ul>
           </span>

  </body>
</html>
